.vscode/launch.json
.vscode/tasks.json
.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
.vs/ConsoleApp1/FileContentIndex/a02ea3b9-128c-4471-a267-1451d870ec90.vsidx
.vs/ConsoleApp1/FileContentIndex/read.lock
.vs/ConsoleApp1/v17/.futdcache.v2
.vs/ConsoleApp1/v17/.suo
.vs/ProjectEvaluation/consoleapp1.metadata.v7.bin
.vs/ProjectEvaluation/consoleapp1.projects.v7.bin
